apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    name: logstash
  name: logstash
  selfLink: /api/v1/namespaces/monitoring/services/logstash
spec:
  ports:
  - name: "5000"
    port: 5000
    protocol: TCP
    targetPort: 5000
  selector:
    name: logstash
  sessionAffinity: None
  type: ClusterIP