 version: 2
 jobs:
   build:
     docker:
       - image: circleci/cci-demo-docker-primary:0.0.2
     environment:
        DOCKER_USER: rio05docker
        DOCKER_PASS: onslario89
     steps:
       - checkout
       - setup_remote_docker:   #see: https://circleci.com/docs/2.0/building-docker-images/
          docker_layer_caching: true 
       - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
       - run: |
            docker run --rm --privileged multiarch/qemu-user-static:register #support for arm64 docker images
            chmod +x scripts/circleci/build.sh
            scripts/circleci/build.sh

   deploy_node_1:
     docker:
       - image: circleci/ruby:2.4.1
     environment:
        NODE_HOSTNAME: raspberry.local
     steps:
       - checkout
       - run: kubernetes/lamp/build.sh
       - run: kubernetes/lamp/build.sh

   deploy_node_2:
      docker:
        - image: circleci/ruby:2.4.1
      environment:
        NODE_HOSTNAME: raspberry.local
      steps:
        - checkout
        - run: kubernetes/lamp/build.sh
        - run: kubernetes/lamp/build.sh


 workflows:
   version: 2
   steps:
     jobs:
       - build: { filters: { branches: { only: [ test ] } } }
       #- deploy_node_1: { requires: [ build ] } #need to deploy to local k8s cluster??
       #- deploy_node_1: { requires: [ build ] }