 version: 2
 jobs:
   
   build:
     docker:
       #- image: circleci/cci-demo-docker-primary:0.0.2
       - image: ubuntu:18.04
     steps:
       - checkout
       - setup_remote_docker:   #see: https://circleci.com/docs/2.0/building-docker-images/
          docker_layer_caching: true 
       - run:
          name: Install Docker client
          command: |
            apt-get update 
            apt-get install -y curl
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
       - run: 
            name: Build arm64 Docker image
            command: | 
              docker run --rm --privileged multiarch/qemu-user-static:register #support for arm64 docker images
              chmod +x scripts/circleci/build.sh
              scripts/circleci/build.sh
       - save_cache:
            key: test_cache
            paths:
              - ~/project/vendor

   test:
    docker:
       #- image: circleci/cci-demo-docker-primary:0.0.2
       - image: ubuntu:18.04
    steps:
      - checkout
      - restore_cache: { keys: [ test_cache ] }
      - run: docker run --rm rio05docker/web_server_panel:rpi3_test_latest --version

   deploy_nodes:
    docker:
      - image: circleci/cci-demo-docker-primary:0.0.2
    environment:
        NODE_HOSTNAME: raspberrypi
    steps:
      - checkout
      #- run: kubernetes/lamp/build.sh
      #- run: kubernetes/lamp/build.sh

 workflows:
    version: 2
    steps:
      jobs:
        - build: { filters: { branches: { only: [ test ] } } }
        - test: { requires: [ build ] }
        - deploy_nodes: { requires: [ test ] } #TODO: need to deploy to local k8s cluster!!


