 version: 2
 jobs:
   build:
     docker:
       - image: circleci/cci-demo-docker-primary:0.0.2
     steps:
       - checkout
       - setup_remote_docker:   
          docker_layer_caching: true 
       - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
       #- run: | #<- using docker from circleci config ?? see: https://circleci.com/docs/2.0/building-docker-images/
          #TAG=latest
          #docker build -t "rio05docker/inotify-video-converter:latest" inotify-video-converter/
          #docker build -t "rio05docker/web_server_panel:latest" startbootstrap-shop-item-gh-pages/
          #docker login -u $DOCKER_USER -p $DOCKER_PASS         # (4)
          #docker push CircleCI-Public/circleci-demo-docker:$TAG
       - run: chmod +x scripts/circleci/build.sh
       - run: scripts/circleci/build.sh

   deploy_node_1:
     docker:
       - image: circleci/ruby:2.4.1
     environment:
        NODE_HOSTNAME: raspberry.local
     steps:
       - checkout
       - run: kubernetes/lamp/build.sh
       - run: kubernetes/lamp/build.sh

   deploy_node_2:
      docker:
        - image: circleci/ruby:2.4.1
      environment:
        NODE_HOSTNAME: raspberry.local
      steps:
        - checkout
        - run: kubernetes/lamp/build.sh
        - run: kubernetes/lamp/build.sh


 workflows:
   version: 2
   steps:
     jobs:
       - build: { filters: { branches: { only: [ master ] } } }
       #- deploy_node_1: { requires: [ build ] } #need to deploy to local k8s cluster??
       #- deploy_node_1: { requires: [ build ] }