 version: 2
 jobs:
   build:
     docker:
       - image: circleci/python:3-jessie
     steps:
       - checkout
       - run: setup_remote_docker 
       - run: chmod +x scripts/circleci/build.sh
       - run: scripts/circleci/build.sh

   deploy_node_1:
     docker:
       - image: circleci/ruby:2.4.1
     environment:
        NODE_HOSTNAME: raspberry.local
     steps:
       - checkout
       - run: kubernetes/lamp/build.sh
       - run: kubernetes/lamp/build.sh

   deploy_node_2:
      docker:
        - image: circleci/ruby:2.4.1
      environment:
        NODE_HOSTNAME: raspberry.local
      steps:
        - checkout
        - run: kubernetes/lamp/build.sh
        - run: kubernetes/lamp/build.sh


 workflows:
   version: 2
   steps:
     jobs:
       - build: { filters: { branches: { only: [ master ] } } }
       #- deploy_node_1: { requires: [ build ] } #need to deploy to local k8s cluster??
       #- deploy_node_1: { requires: [ build ] }