#Pod’s configuration file specifies a PersistentVolumeClaim,
#but it does not specify a PersistentVolume.
#From the Pod’s point of view, the claim is a volume.

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ml-pod
  labels:
    rioiotplatform: ml
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: ml-pod
  template:
    metadata:
      labels:
        app: ml-pod
    spec:
      nodeName: raspberrypi
      containers:
      - image: nandanrao/rpi-docker-tensorflow
        imagePullPolicy: Always
        name: rpi-docker-tensorflow
        resources:
            limits:
                memory: "1Gi"
                cpu: "1"
            requests:
                cpu: "100m"
                memory: "30Mi"
        ports:
        - containerPort: 8888
        volumeMounts:
        - mountPath: /notebooks/myNotebooks #see https://hub.docker.com/r/nandanrao/rpi-docker-tensorflow
          name: ml-volume
      restartPolicy: Always
      volumes:
      - name: ml-volume
        persistentVolumeClaim:
          claimName: ml-claim