#Pod’s configuration file specifies a PersistentVolumeClaim,
#but it does not specify a PersistentVolume.
#From the Pod’s point of view, the claim is a volume.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  labels:
    k8s-app: minio
spec:
  replicas: 1
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      k8s-app: minio
  template:
    metadata:
      labels:
        k8s-app: minio
    spec:
      nodeName: raspberrypi1
      containers:
      - image: alexellis2/minio-armhf:latest
        imagePullPolicy: Always
        name: minio
        #command: ["server", "/export"]
        resources:
            limits:
                memory: "1Gi"
                cpu: "1"
            requests:
                cpu: "100m"
                memory: "30Mi"
        env:
        - name: MINIO_ACCESS_KEY
          value: minio
        - name: MINIO_SECRET_KEY
          value: minio123
        ports:
        - containerPort: 9000
        volumeMounts:
        - mountPath: /export
          name: minio-volume        
      restartPolicy: Always
      volumes:
      - name: minio-volume
        persistentVolumeClaim:
          claimName: minio-claim