#Pods use PersistentVolumeClaims to request physical storage.
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: minidlna-claim
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 200Gi
