apiVersion: v1
kind: Service
metadata:
  name: minidlna-pod
  labels:
    rio/iotplatform: minidlna
spec:
  ports:
  - name: http
    protocol: TCP
    port: 8200
  - name: https
    protocol: UDP
    port: 1900
  selector:
    app: minidlna-pod
  type: NodePort